.slide{

    min-height:100vh;

    display:flex;

    align-items:center;

    justify-content:center;

    padding:80px;

}

.content{

    max-width:900px;

}

.content h2{

    font-size:3rem;

    margin-bottom:40px;

}

.content p,
.content li{

    font-size:1.4rem;

    line-height:1.8;

}

.hero{

    text-align:center;

    position:relative;

}

.hero-content{

    max-width:900px;

    z-index:2;

}

.hero-tag{

    font-size:1rem;

    letter-spacing:2px;

    text-transform:uppercase;

}

.hero h1{

    font-size:6rem;

    margin:20px 0;

}

.hero-subtitle{

    font-size:2rem;

    line-height:1.4;

}

.hero-period{

    margin-top:30px;

    font-size:1.3rem;

    font-weight:bold;

}

.hero-author{

    margin-top:40px;

}

.hero-image{

    width:900px;

    max-width:90%;

    margin-top:50px;

    opacity:.9;

}

.metrics{

    display:flex;

    justify-content:center;

    gap:120px;

    margin-top:80px;

}

.metrics span{

    display:block;

    font-size:5rem;

    font-weight:700;

}

.metrics p{

    text-align:center;

}

.flow-image{

    width:100%;

    max-width:1000px;

    margin-top:40px;

}

.center{

    text-align:center;

}

.final h2{

    font-size:5rem;

}

.final p{

    font-size:2rem;

}
