*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html{
  scroll-behavior:smooth;
}

body{
  font-family:'Inter',sans-serif;
  background:#F2F0EB;
  overflow-x:hidden;
  color:#111111;
}

a{
  text-decoration:none;
  color:inherit;
}

/* =========================
   HERO WRAPPER
========================= */

.hero-wrapper{
  width:100%;
  max-height:90vh;
  display:flex;
  justify-content:center;
  align-items:center;
  padding:25px 25px;
}

/* =========================
   HERO BOX
========================= */

.hero{
  width:100%;
  max-width:1400px;
  max-height:90vh;
  background:#F2F0EB;
  border-radius:10px;
  padding:25px 25px;
  display:flex;
  flex-direction:column;
  position:relative;
  overflow:hidden;
  border:3px solid #d6d3d1;
}

/* =========================
   NAVBAR
========================= */

.navbar{
  width:100%;
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin-bottom:30px;
}

/* LOGO */

.logo{
  display:flex;
  align-items:center;
  gap:1px;
}

.logo img{
  width:80px;
  height:80px;
  border-radius:50%;
  object-fit:cover;
}


/* MENU */

.menu{
  display:flex;
  align-items:center;
  gap:20px;
  /*flex-wrap:wrap;*/
}

.menu a{
  font-size:20px;
  font-weight:650;
  color:#41453f;
  transition:0.3s;
}
.menu a:hover{
  color:#d6763a;
}

.resume-btn{
  padding:10px 15px;
  border:1.5px solid #111111;
  border-radius:12px;
  transition:0.3s;
}

.resume-btn:hover{
  background:#ebab83;
  color:#050505;
}

/* =========================
   HERO CONTENT
========================= */

.hero-content{
  flex:1;
  display:flex;
  align-items:center;
}

.hero-text{
  max-height:90vh;
}

.hero-text small{
  font-size:20px;
  letter-spacing:2px;
  color:#555;
  display:block;
  margin-bottom:22px;
  font-weight:650;
}

.hero-text h1{
  font-size:clamp(40px, 9vw, 60px);
  line-height:0.95;
  font-weight:900;
  letter-spacing:-5px;
  color:#fc0703;
  margin-bottom:15px;
}

.hero-text h3{
  font-size:clamp(23px, 7vw, 37px);
  max-width:90%;
  line-height:0.95;
  font-weight:650;
  letter-spacing:-4px;
  color:#6b7280;
  margin-bottom:38px;
}

.hero-text p{
  max-width:90%;
  font-size:20px;
  line-height:1.8;
  color:#4b5563;
  margin-bottom:45px;
}

/* =========================
   RESPONSIVE
========================= */

@media(max-width:992px){
  .hero{
    padding:30px;
  }

  .navbar{
    flex-direction:column;
    gap:25px;
    align-items:flex-start;
  }

  .menu{
    gap:20px;
  }

  .hero-content{
    align-items:flex-start;
  }

  .hero-text h1{
    letter-spacing:-3px;
  }

  .hero-text h2{
    letter-spacing:-2px;
  }
}

@media(max-width:768px){

  .hero{
    min-height:auto;
    padding:25px;
    border-radius:22px;
  }

  .menu{
    width:100%;
    justify-content:flex-start;
  }

  .hero-content{
    padding-top:20px;
  }

  .hero-text p{
    font-size:16px;
  }
}
